.stepper-content {
    margin: 12px;
}

.stepper-action {
    position: fixed;
    width: 95%;
    bottom: 0;
    margin: 10px;
}

.fukol-parent {
    display: flex;
    flex-wrap: wrap;
    margin: -.5em;
}

.fukol-child {
    flex: 1 0 5em;
    margin: .5em;
}